@section css{
    <link href="~/Content/_bundle/_css_bundle/error.css" rel="stylesheet" />
}

<div style="background-color: rgb(239, 239, 239);">
    <div class="container error">
        <h1>Xin lỗi chúng tôi không tìm thấy trang bạn cần</h1>
    </div>
</div>
