<footer>
    <div class="container footer-content">
        <div class="customer-suport">
            <h4>HỖ TRỢ KHÁCH HÀNG</h4>
            <a href="">Câu hỏi thương gặp</a>
            <a href="">Gửi yêu cầu hỗ trợ</a>
            <a href="">Hướng dẫn đặt hàng</a>
            <a href="">Phương thức vận chuyển</a>
            <a href="">Chính sách đổi trả</a>
            <a href="">Hướng dẫn trả góp</a>
            <a href="">Chính sách hàng nhập khẩu</a>
            <a href="">Hỗ trợ khách hàng: hotro@tiki.vn</a>
            <a href="">Báo lỗi bảo mật: sercurity@tiki.vn</a>
        </div>
        <div class="about-tiki">
            <h4>VỀ TIKI</h4>
            <a href="">Giới thiệu về tiki</a>
            <a href="">Tuyển Dụng</a>
            <a href="">Chính sách bảo mật thanh toán</a>
            <a href="">Chính sách bảo mật thông tin cá nhân</a>
            <a href="">Chính sách giải quyết khiếu nại</a>
            <a href="">Điều khoản sử dụng</a>
            <a href="">Giới thiệu Tiki Xu</a>
            <a href="">Bán hàng doanh nghiệp</a>
        </div>
        <div class="co-operation">
            <h4>HỢP TÁC VÀ LIÊN KẾT</h4>
            <a href="">Quy chế hoạt động sàn GDTMĐT</a>
            <a href="">Bán hàng cùng Tiki</a>
        </div>
        <div class="payment-method">
            <h4>PHƯƠNG THỨC THANH TOÁN</h4>
            <a href="">Visa card</a>
            <a href="">Master card</a>
            <a href="">JBC</a>
            <a href="">Tiền mặt</a>
            <a href="">Internet banking</a>
            <a href="">Trả góp 0%</a>
        </div>
        <div class="contact-us">
            <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
            <a href="">Facebok</a>
            <a href="">Youtube</a>
            <a href="">Zalo</a>
            <h4>TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
            <a href="">Tải về trên App Store</a>
            <a href="">Tải về trên Google Play</a>
        </div>
    </div>
</footer>
