<header>
    <div class="container header-content">
        <div class="header logo-and-category">
            <a class="logo" href=""><img src="~/Content/src/icon/tiki_logo_icon.png" alt="Tiki logo" /></a>
            <a class="category-dropdown" href="">
                <img src="~/Content/src/icon/hamburger_menu_icon.png" alt="Alternate Text" />
                <div class="category-and-product-label">
                    <div class="category-and-product">
                        <div class="category-lable">Danh mục</div>
                        <div class="product-lable">Sảm Phẩm</div>
                    </div>
                </div>
                @*<div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                    </div>*@
            </a>
        </div>
        <div class="header search-form">
            <input type="text" name="name" value="" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." />
            <button class="btn search">
                <img src="~/Content/src/icon/search_icon.png" alt="Alternate Text" />
                <span class="search-lable">Tìm kiếm</span>
            </button>
        </div>
        <div class="header user-shortcut">
            <a href="" class="account-container">
                <img src="~/Content/src/icon/user_icon.png" alt="Alternate Text" />
                <div>
                    <div class="account-lable">Tài Khoản</div>
                    <div class="account-name">User Name</div>
                </div>
            </a>

            <a href="" class="cart-item">
                <img src="~/Content/src/icon/cart_icon.png" alt="Alternate Text" />
                <div class="cart-lable">Giỏ Hàng</div>
            </a>
        </div>
    </div>
</header>
