.container .list-product {
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: stretch;
    padding: 8px 12px;
}

.grid-container {
    padding: 16px 8px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0;
    row-gap: 0;
    justify-items: stretch;
    justify-content: space-around;
    justify-self: stretch;
    align-content: stretch;
}

.product-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
}

a:link {
    text-decoration: none;
}

.grid-item {
    cursor: pointer;
    padding: 8px;
    justify-self: center;
    font-size: 0.6rem;
    width: 240px;
    height: 331px;
}

    .grid-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.product-item img {
    width: 100%;
    height: 100%;
    justify-self: center;
}

.info {
    margin-top: 8px;
    letter-spacing: 1px;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}


.product-name {
    margin: auto 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 20px;
    font-weight: 400;
    word-break: break-word;
    color: rgb(36, 36, 36);
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price {
    font-size: 22px;
    margin: 0;
    color: rgb(36, 36, 36);
    font-weight: bold;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }

    .grid-item {
        max-width: 293px;
        max-height: 397px;
        min-width: 271px;
        min-height: 385px;
    }

    .product-name {
        font-size: 20px;
    }

    .product-price {
        font-size: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .grid-item {
        max-width: 362px;
        max-height: 470px;
        min-width: 294px;
        min-height: 410px;
    }

    .product-name {
        font-size: 20px;
    }

    .product-price {
        font-size: 22px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-item {
        max-width: 441px;
        max-height: 551px;
        min-width: 242px;
        min-height: 400px;
    }

    .product-name {
        font-size: 18px;
    }

    .product-price {
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        max-width: 482px;
        max-height: 586px;
        min-width: 239px;
        min-height: 390px;
    }

    .product-name {
        font-size: 16px;
    }

    .product-price {
        font-size: 18px;
    }
}

.hidden {
    display: none;
}

.view-more {
    align-self: center;
    border: 1px solid rgb(13,92,182);
    border-radius: 4px;
    color: rgb(13,92,182);
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    width: 240px;
    font-size: 13px;
    justify-self: center;
}

    .view-more:hover {
        color: white;
        background: rgb(13,92,182);
    }
