
.container .search-product {
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: stretch;
    padding: 8px 12px;
}

.list-product-body {
    display: grid;
    grid-template-columns: 15% 85%;
    justify-self: stretch;
}

.price-form input[type=number] {
    width: 100%;
    margin: 5px 0px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 3px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btnSearchByPrice {
    border: 1px solid #0d5cb6;
    border-radius: 4px;
    color: #0d5cb6;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: 13px;
}



.products-fitlered {
    display: grid;
    grid-template-rows: auto auto;
}

.grid-container {
    padding: 16px 8px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 0;
    row-gap: 0;
    justify-items: stretch;
    justify-content: space-around;
    justify-self: stretch;
    align-content: stretch;
}

.product-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
}

a:link {
    text-decoration: none;
}

.grid-item {
    cursor: pointer;
    padding: 8px;
    justify-self: center;
    font-size: 0.6rem;
    width: 100%;
    height: 100%;
}

    .grid-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.product-item img {
    width: 100%;
    height: 100%;
    justify-self: center;
}

.info {
    margin-top: 8px;
    letter-spacing: 1px;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}


.product-name {
    margin: auto 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 20px;
    font-weight: 400;
    word-break: break-word;
    color: rgb(36, 36, 36);
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price {
    font-size: 22px;
    margin: 0;
    color: rgb(36, 36, 36);
    font-weight: bold;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .grid-item {
    }

    .product-name {
        font-size: 18px;
    }

    .product-price {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .grid-item {
    }

    .product-name {
        font-size: 14px;
    }

    .product-price {
        font-size: 14px;
    }
}

@media (min-width: 785px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .price-filter {
        font-size: 13px;
    }

    .grid-item {
    }

    .product-name {
        font-size: 14px;
    }

    .product-price {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 785px) {
    .grid-container {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .price-filter {
        font-size: 13px;
    }

    .grid-item {
    }

    .product-name {
        font-size: 11px;
    }

    .product-price {
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }

    .list-product-body {
        grid-template-columns: unset;
    }

    .price-filter {
        font-size: 9px;
    }

    #btnSearchByPrice {
        font-size: 9px;
    }

    .grid-item {
    }

    .product-name {
        font-size: 8px;
    }

    .product-price {
        font-size: 9px;
    }
}

.hidden {
    display: none;
}

.view-more {
    align-self: center;
    border: 1px solid rgb(13,92,182);
    border-radius: 4px;
    color: rgb(13,92,182);
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    width: 240px;
    font-size: 13px;
    justify-self: center;
}

    .view-more:hover {
        color: white;
        background: rgb(13,92,182);
    }

.search-result-lable {
    padding: 4px 8px;
    justify-self: start;
    margin: auto;
}
