@model Webservice.ProductService.ProductDTOResponse

@section css{
    <link href="~/Content/_bundle/_css_bundle/search.min.css" rel="stylesheet" />
}


<div class="container search-product">

    @if (Model != null)
    {
        <div class="search-result-lable hidden">Kết quả tìm kiếm cho "<span style="font-weight: bold" class="search-keyword"></span>"</div>
        <div class="list-product-body">
            <div class="price-filter">
                Price Filter
                <div class="price-form">
                    <input type="radio" name="radioName" value="all" /> All <br />
                    <input type="radio" name="radioName" value="under100" /> Under 100k <br />
                    <input type="radio" name="radioName" value="between100and500" /> 100k - 500k<br />
                    <input type="radio" name="radioName" value="between500and1mil" /> 500k - 1 mil<br />
                    <input type="radio" name="radioName" value="above1mil" /> Above 1 mil <br />
                    <span>Min: </span><input type="number" class="btn-change-price" id="input-minPrice" name="minPrice" value="" placeholder="0"><br />
                    <span>Max: </span><input type="number" class="btn-change-price" id="input-maxPrice" name="manPrice" value="" placeholder="1000000000"><br />
                    <button type="submit" class="" id="btnSearchByPrice">Search</button>
                </div>

            </div>
            <div class="products-fitlered">
                <div class="grid-container">
                    @Html.Partial("~/Views/Home/ListProduct.cshtml", Model)
                </div>
                @if (Model != null && Model.Remain > 0)
                {
                    <button class="btn view-more" id="btnViewMore">Xem thêm <span id="remain">@Model.Remain</span> sản phẩm</button>
                }
            </div>
        </div>

    }
    else
    {
        <div>Không tìm thấy yêu cầu của bạn</div>
    }


</div>

@section scripts{
    <script src="~/Content/_bundle/_js_bundle/search.min.js"></script>
}
