body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(36, 36, 36)
}

a {
    text-decoration: none;
}

header {
    background: rgb(1, 127, 255);
}

    header a {
        color: white
    }

.header-content {
    padding: 32px 15px;
    width: 1270px;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.logo-and-category {
    display: grid;
    grid-template-columns: auto auto;
}

    .logo-and-category .logo {
        width: 60px;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

        .logo-and-category .logo img {
            width: 100%;
            height: 100%;
        }

    .logo-and-category .category-dropdown {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        align-self: center;
        justify-self: center;
    }

        .logo-and-category .category-dropdown:hover {
            color: white;
            text-decoration: none;
        }

        .logo-and-category .category-dropdown img {
            width: 32px;
            height: 32px;
        }

        .logo-and-category .category-dropdown .category-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 11px;
            line-height: 16px;
        }

        .logo-and-category .category-dropdown .product-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
        }

        .logo-and-category .category-dropdown .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
        }

        .logo-and-category .category-dropdown:hover .dropdown-content {
            display: block;
            text-decoration: none;
            color: white;
        }

.dropdown-content a {
    display: block;
    color: black;
}

.search-form {
    display: grid;
    grid-template-columns: 80% 15%;
    justify-content: center;
}

    .search-form input {
        border: 0px;
        font-size: 13px;
        height: 40px;
        border-radius: 2px 0px 0px 2px;
        padding: 0px 12px;
    }

    .search-form .search {
        height: 40px;
        cursor: pointer;
        border: 0px;
        background: rgb(12,92,182);
        border-radius: 0px 2px 2px 0px;
        color: white;
        font-size: 13px;
        font-weight: 500;
        padding: 1px 6px;
        display: grid;
        grid-template-columns: 10% 60%;
        align-content: center;
        justify-content: center;
    }

        .search-form .search:hover {
            color: white;
        }

    .search-form button img {
        height: 20px;
        width: 20px;
        justify-self: end;
    }

.user-shortcut {
    display: grid;
    grid-template-columns: auto auto;
}

    .user-shortcut .account-container {
        display: grid;
        grid-template-columns: auto auto;
    }

        .user-shortcut .account-container:hover {
            color: white;
        }

    .user-shortcut img {
        width: 32px;
        height: 32px;
        justify-self: center;
    }

    .user-shortcut .account-lable {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 11px;
        line-height: 16px;
    }

    .user-shortcut .account-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
    }

    .user-shortcut .cart-item {
        display: grid;
        grid-template-columns: auto auto;
    }

        .user-shortcut .cart-item:hover {
            color: white;
        }

        .user-shortcut .cart-item .cart-lable {
            align-self: end;
        }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 32px 15px;
    width: 1270px;
    margin: 0 auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.footer-content {
    padding: 32px 15px;
    width: 1270px;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: center;
    grid-column-gap: 12px;
}

    .footer-content div h4 {
        margin: 0px 0px 17px;
        color: rgb(51, 51, 51);
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        text-transform: uppercase;
    }

    .footer-content div a {
        color: rgb(51, 51, 51);
        font-size: 12px;
        font-weight: normal;
        display: block;
    }


@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        max-width: 98%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 15px;
    }

    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 10% 60% 25%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            align-self: center;
        }

    .footer-content div a {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 20% 60% 22%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

        .search-form .search {
            display: unset;
        }

    .search-lable {
        display: none;
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .account-name {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            display: none;
        }

    .footer-content {
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .about-tiki, .payment-method {
        display: none;
    }

    .footer-content div a {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    body {
        font-size: 9px;
    }

    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 25% 45% 25%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

        .search-form .search {
            display: unset;
            padding: 0;
        }

    .search-lable {
        display: none;
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .account-name {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            display: none;
        }

    .footer-content {
        grid-template-columns: auto auto;
        justify-content: unset;
    }

    .about-tiki, .co-operation, .payment-method {
        display: none;
    }

    .footer-content div a {
        font-size: 9px;
    }
}
