@model Webservice.ProductService.ProductDTOResponse

@{
    ViewBag.Title = "Demo shop - Trần Đình Thuận";
}

@section css{
    <link href="~/Content/_bundle/_css_bundle/index.min.css" rel="stylesheet" />
}

@*<div>
        <input id="searchInput" type="text" placeholder="Search..">
    </div>*@

<div class="container list-product">

    @if (Model != null)
    {
        <div class="grid-container">
            @Html.Partial("~/Views/Home/ListProduct.cshtml", Model)
        </div>
    }
    else
    {
        <div>Không tìm thấy yêu cầu của bạn</div>
    }

    @if (Model != null && Model.Remain > 0)
    {
        <button class="btn view-more" id="btnViewMore">Xem thêm <span id="remain">@Model.Remain</span> sản phẩm</button>
    }
</div>


@section scripts{
    <script src="~/Content/_bundle/_js_bundle/indexJS.min.js"></script>
}
