@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/indexCSS/index.css")
}

<div class="grid-container">
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt=" Iphone X" />
            <div class="info">
                <div class="product-name">
                    Bàn Làm Việc Kết Hợp Kệ Sách Thông Minh
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    48.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/5d/df/f4/96d1f31edfd7dc965e85fd5d9264a269.png" alt="" />
            <div class="info">
                <div class="product-name">
                    Hộp/ Túi đựng sạc và phụ kiện Macbook Lucas - Hàng chính hãng
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/05/11/e6/27a2022fd69812b3af0fdd4a9ae9e912.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Bao Case Cho Airpods 1/ Airpods 2 Dạ Quang Phát Sáng - Xanh Dương
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    140.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/46/b1/db/6a0aedbdbb956a76b092dcd20eb0dc30.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Smart Tivi LG 4K 55 inch 55UM7600PTA
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/3e/38/7a/0dae1415bd20cd10b3eedccd97847d6f.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    BỘ ĐẦU THU TRUYỀN HÌNH KỸ THUẬT SỐ K+ 7 MÓN HÀNG CHÍNH HÃNG"
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    450.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/c7/93/fd/ec3f0da0f734c4f5025aecc5d3d00cf8.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Ghế Giám đốc IHC10113
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    3.790.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/c5/4f/fc89dd3c383984fbab5cfa530e0fb93d.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Vỏ bảo vệ bao đựng tai nghe Kaws airpod 1/2"
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    39.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/d9/f4/bf/794a76c52874c0e4a2317639aedba507.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Summer Korean Style Simple Striped Loose Sleeveless Vest Top T-Shirt
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    3980.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/30/8f/8e/ee7e6ffedae7c34233acb85106ea4321.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Miếng dán Kính Cường Lực full 3D cho iPhone XR / iPhone 11 6.1 inch hiệu Nillkin XD CP+Max - Hàng Chính Hãng
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    3.790.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/90/88/33/bf011b5acfde8024381c5987eff78007.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Bao da bê Epsom Xanh chính hãng HANHSON cho Apple AirPods Pro
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    3.790.000
                </div>
            </div>
        </a>
    </div>
</div>
