@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/indexCSS/index.css")
}

<div class="grid-container">
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt=" Iphone X" />
            <div class="info">
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Iphone X
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Iphone X
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Iphone X
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a7/77/7c/3ae5c9be49ddb3d0a04708e62f9b1339.jpg" alt="" />
            <div class="info">
                <div class="product-name">
                    Iphone X
                </div>
                <div class="product-quality">
                    Star ... || Da ban ...
                </div>
                <div class="prodcut-price">
                    98.000
                </div>
            </div>
        </a>
    </div>
</div>
