@model IEnumerable<MVCAppVer1.Models.Product>

@{
    ViewBag.Title = "Home Page";
    @*@Styles.Render("~/Content/css/index.css");
        @Styles.Render("~/Content/css")*@
}

@section css{
    <link href="~/Content/_bundle/indexBundle.min.css" rel="stylesheet" />
}

<div class="grid-container">
    @foreach (var product in Model)
    {
        @Html.Partial("~/Views/Home/ListProduct.cshtml", product);

    }
</div>
@section scripts{
    <script src="~/Content/js/IndexJS.min.js"></script>
}