@model IEnumerable<MVCAppVer1.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/Content/_bundle/index.min.css" rel="stylesheet" />
}


<div class="grid-container">
    @foreach (var product in Model)
    {
        <div class="grid-item">
            <a class="product-item"
               @{ var route = "/product/detail/" + product.Id;}
               href="@route">
                @{var img_url = product.url;}
                <img src="@img_url " alt=" " />
                <div class="info">
                    <div class="product-name">
                        @product.Name
                    </div>
                    <div class="product-price">
                        @string.Format("{0:0.000}", product.price) <span style="text-decoration: underline">đ</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
@section scripts{

}