@model IEnumerable<MVCAppVer1.Models.Product>

@{
    ViewBag.Title = "Demo shop - Trần Đình Thuận";
    @*@Styles.Render("~/Content/css/index.css");
        @Styles.Render("~/Content/css")*@
}

@section css{
    <link href="~/Content/_bundle/indexBundle.min.css" rel="stylesheet" />
}

@*<div>
        <input id="searchInput" type="text" placeholder="Search..">
    </div>*@

<div class="container list-product">
    <div class="grid-container">
        @*@foreach (var product in Model)
            {
                @Html.Partial("~/Views/Home/ListProduct.cshtml", Model);

            }*@
        @Html.Partial("~/Views/Home/ListProduct.cshtml", Model)
    </div>
    <button class="btn view-more" id="btnViewMore">Xem thêm</button>

</div>
@section scripts{
    <script src="~/Content/_bundle/indexJS.min.js"></script>
}
