@model IEnumerable<Webservice.ProductService.ProductDTO>

@{
    ViewBag.Title = "Demo shop - Trần Đình Thuận";
}

@section css{
    <link href="~/Content/_bundle/indexBundle.min.css" rel="stylesheet" />
}

@*<div>
        <input id="searchInput" type="text" placeholder="Search..">
    </div>*@

<div class="container list-product">
    <div class="grid-container">
        @Html.Partial("~/Views/Home/ListProduct.cshtml", Model)
    </div>
    <button class="btn view-more" id="btnViewMore">Xem thêm</button>

</div>
@section scripts{
    <script src="~/Content/_bundle/indexJS.min.js"></script>
}
