@model IEnumerable<MVCAppVer1.Models.Product>

@{
    ViewBag.Title = "Demo shop - Trần Đình Thuận";
    @*@Styles.Render("~/Content/css/index.css");
        @Styles.Render("~/Content/css")*@
}

@section css{
    <link href="~/Content/_bundle/indexBundle.min.css" rel="stylesheet" />
}

<div>
    <p id="demo">
        Let Ajax change this text
    </p>
    <button id="btn-ajax" onclick="loadDoc()">Click to load Txt</button>
    <button onclick="loadXML()">Click to load XML</button>
</div>

<div>
    <input id="searchInput" type="text" placeholder="Search..">
</div>

<div>
    <div class="grid-container">
        @*@foreach (var product in Model)
            {
                @Html.Partial("~/Views/Home/ListProduct.cshtml", Model);

            }*@
        @Html.Partial("~/Views/Home/ListProduct.cshtml", Model)
    </div>
    <button id="btnViewMore">Xem thêm</button>

</div>
@section scripts{
    <script src="~/Content/_bundle/indexJS.min.js"></script>
}
