@model IEnumerable<MVCAppVer1.Models.Product>
@if (Model != null && Model.Any())
{
    foreach (var product in Model)
    {
        <div class="grid-item">
            @{var route = "/product/" + product.metaTitle + "-" + product.Id;
                var img_url = product.url; }
            <a class="product-item"
               href="@route">
                <img src="@img_url " alt="@product.Name" />
                <div class="info">
                    <div class="product-name" id="name">@product.Name</div>
                    <div class="product-price">@string.Format("{0:0,0.000}", product.price) <span style="text-decoration: underline">đ</span></div>
                </div>
            </a>
        </div>
    }
}