@if (Model != null)
{
    foreach (var product in Model)
    {
        var route = "/product/" + product.Url + "-" + product.Id;
        var img_url = "/Content/src/Image/" + product.Thumb;
        <div class="grid-item">
            <a class="product-item"
               href="@route">
                <img src="@img_url " alt="@product.Name" />
                <div class="info">
                    <div class="product-name" id="name">@product.Name</div>
                    <div class="product-price">@string.Format("{0:0,0.000}", product.Price) <span style="text-decoration: underline">đ</span></div>
                </div>
            </a>
        </div>
    }
}